# PHP
/vendor/
.env
.htaccess

# Flutter
/build/
/.dart_tool/
/.flutter-plugins
/.pub-cache/

# Node.js
/node_modules/
/npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
